@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Signika+Negative:wght@300;400;500;600;700&display=swap");

@tailwind base;

/* @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
} */
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-family: "Signika Negative", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 45px;
}

h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 0.5rem;
}

article h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  line-height: 35px;
  margin-bottom: 0.5rem;
}

header {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
}

.blog-header {
  background-position: 82% 25%;
}

a {
  font-family: "Signika Negative", sans-serif;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.header-title {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
}

.header-title h1 {
  text-transform: uppercase;
}

.header-title h2 {
  font-size: 1.25rem;
}

.header-content {
  padding-top: 8rem;
  position: absolute;
  bottom: 1rem;
  z-index: 1;
}

.article-content {
  z-index: 999;
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 15px;
}

.blog-post-header {
  height: auto;
}

.nav-logo {
  width: 40px;
  display: inline;
}

.nav-link-list li {
  display: inline;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }

  h2 {
    line-height: 35px;
  }

  header {
    width: 100%;
    max-height: 1200px;
  }

  .blog-header {
    background-position: center;
  }

  .header-content {
    padding-top: 8rem;
    position: relative;
    bottom: 0;
  }
}
