@tailwind base;

/* @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
} */
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap"); */

body {
  /* font-family: "Noto Sans", sans-serif; */
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

article h2 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}
