@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&family=Signika+Negative:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hind", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-family: "Signika Negative", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 45px;
}

h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 0.5rem;
}

article h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  line-height: 35px;
  margin-bottom: 0.5rem;
}

header {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed;
}

.blog-header {
  background-position: 82% 25%;
}

a {
  font-family: "Signika Negative", sans-serif;
}

nav {
  background-color: #fff;
  z-index: 999;
}

.header-title {
  background-color: #fff;
  padding: 1rem 1.25rem;
}

.header-title h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.header-title h2 {
  font-size: 1.25rem;
}

.header-content {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  width: 100%;
}

.blog-header .header-title h1 {
  line-height: 36px;
}

.article-content {
  z-index: 999;
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 15px;
}

.blog-post-header {
  height: auto;
}

.nav-logo {
  width: 40px;
  display: inline;
}

.submenu-close {
  display: none;
}

.submenu-open {
  display: block;
}

@media (min-width: 768px) {
  .header-title h1 {
    font-size: 2.25rem;
    line-height: 40px;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .header-title h2 {
    line-height: 30px;
    margin-bottom: 0.75rem;
  }

  .header-title h3 {
    font-size: 1rem;
    line-height: 30px;
  }

  header {
    width: 100%;
    max-height: 1200px;
  }

  .blog-header {
    background-position: center;
  }

  .header-content {
    position: absolute;
    bottom: 5%;
  }

  .header-title {
    width: 40%;
    background-color: #fff;
    padding: 1rem 1.25rem;
    margin-left: auto;
    margin-top: 30%;
  }
}
